* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.team_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team_list_item:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}